body {
  font-family: "Montserrat", serif;
  margin: 0;
  line-height: 2;
  font-size: 1.15rem;
  color: #041C32;
}
h1{
  font-size: 2.2rem;
}
h2{
  font-size: 1.7rem;
}
.bright-section{
  background-color: #F6F2E9;
  padding: 7rem 18rem;
}
.dark-section{
  background-color: #CDDBCC;
  padding: 7rem 18rem;
}
@media (max-width: 700px){
  .bright-section, .dark-section{
    padding: 2rem 4rem;
  }
  .my-picture{
    display: none;
  }
}
@media (max-width: 1035px) {
  .bright-section, .dark-section{
    padding: 3rem 6rem;
  }
  img {
    max-width: 11rem;
    max-height: 11rem;
  }
}
@media (max-width: 1450px){
  .bright-section, .dark-section{
    padding: 4rem 8rem;
  }
}

/* Nav Bar */
.navbar{
  background-color: #F6F2E9;
}
.nav-header{
  height: 5rem;
  display: flex;
}
.nav-toggle-btn{
  background-color: transparent;
  border: none;
  font-size: 1.7rem;
  margin-left: 1.2rem;
  color: #041C32;
  transition: 0.3s ease-in-out all;
}
.nav-toggle-btn:hover{
  color: #2F8F9D;
}
.nav-links{
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
  transition: 0.3s ease-in-out all;
}
.show-links{
  height: 210px;
}
.nav-link{
  display: block;
  padding: 1rem 1.3rem;
  color: #041C32;
  text-decoration: none;
  transition: 0.3s ease-in-out all;
  font-size: 1rem;
}
@media(max-width:1035px){
  .nav-link:hover{
    padding-left: 2.2rem;
    color: #2F8F9D;
  }
}

@media(min-width:1035px){
  .nav-toggle-btn{
    display: none;
  }
  .nav-header{
    height: auto;
  }
  .nav-links{
    height: auto;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: right;
  }
  .nav-link:hover{
    color: #2F8F9D;
  }
}

/* About Me  */
.about-me{
  align-items: center;
  display: flex;
}
.my-picture {
  border-radius: 50%;
  width: 17rem;
  height: 17rem;
  margin-right: 5rem;
  object-fit: cover;
}

/* Technical Skills */
.tech-skills{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tech-skills table td{
  padding-right: 22px;
}
.tech-skills i{
  font-size: 7rem;
}
@media (max-width: 1050px) {
  .tech-skills i{
    display: none;
  }
}

/* Non Technical Skills */
.non-tech-skills{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.non-tech-skills i{
  font-size: 7rem;
}
.skill-name{
  vertical-align: top;
  text-align: left;
  font-weight: 600;
}
@media (max-width: 1050px) {
  .non-tech-skills{
    display: block;
    align-items: left;
  }
  .non-tech-skills i{
    display: none;
  }
}

/* Professional Experience */
.see-more-btn{
  padding: 0.6rem 0.9rem;
  font-size: 1rem;
  border-radius: 5px;
  border-color: transparent;
  background-color: #F6F2E9;
  color: #041C32;
  letter-spacing: 1.5px;
  font-family: "Montserrat", serif;
}
.see-more-btn:hover{
  background-color:#041C32;
  color: #C8E0DB;
}
.experience-list {
  margin-left: 0;
  padding-left: 0;
  display: none;
}
.experience-list dl{
  font-weight: 600;
}
.show-prof-experience{
  display: inline;
}

/* Footer */
footer{
  display: block;
  text-align: center;
  background-color: #F6F2E9;
  padding-top: 4rem;
  padding-bottom: 0.2rem;
  font-size: 0.85rem;
}
footer i{
  font-size: 1.8rem;
  color: #041C32;
}
.icons-container a{
  margin: 0 0.5rem;
}
